.taskBox{
    display: flex;
    background: var(--gray-500);
    border-radius: 8px;
    margin-top: 3.3rem;
    border: solid 1px var(--gray-300);
    color: var(--gray-100);
    line-height: 1.6;
}
.button{
    cursor: pointer;
    color: var(--blue);
    border: none;
    background: transparent;
    margin-right: 2rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.taskText{
    margin-top: 0.3rem;
    flex-grow: 1;
    overflow: auto;
    word-wrap: break-word;
}
.trash{
    position: relative;
    margin-top: 0.5rem;
    margin-right: 1rem;
    cursor: pointer;
    color: var(--gray-300);
    border: none;
    background: transparent;
}
.trash:hover{
    color: var(--red-danger);
}
.checked{
    color: var(--gray-100);
    background: var(--purple-dark);
    border-radius: 100%;
}